In [32]:
import pandas as pd
from sqlalchemy import create_engine

## Storing JSON file as Dataframe

In [29]:
json_file = "business.json"
inspect= pd.read_json(json_file, lines=True)
inspect.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,2818 E Camino Acequia Drive,{'GoodForKids': 'False'},1SWheh84yJXfytovILXOAQ,"Golf, Active Life",Phoenix,None,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,5,3.0,AZ
1,30 Eglinton Avenue W,"{'RestaurantsReservations': 'True', 'GoodForMe...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
2,"10110 Johnston Rd, Ste 15","{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...",gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,170,4.0,NC
3,"15655 W Roosevelt St, Ste 237",None,xvX2CttrVhyG2z1dFg_0xw,"Insurance, Financial Services",Goodyear,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,33.455613,-112.395596,Farmers Insurance - Paul Lorenz,85338,3,5.0,AZ
4,"4209 Stuart Andrew Blvd, Ste F","{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...",HhyxOkGAM07SRYtlQ4wMFQ,"Plumbing, Shopping, Local Services, Home Servi...",Charlotte,"{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...",1,35.190012,-80.887223,Queen City Plumbing,28217,4,4.0,NC

## Cleaning Dataframe

In [30]:
clean_df = inspect[["address", "city", "name","postal_code", "review_count", "stars"]].copy()
clean_df.head()

,address,city,name,postal_code,review_count,stars
0,2818 E Camino Acequia Drive,Phoenix,Arizona Biltmore Golf Club,85016,5,3.0
1,30 Eglinton Avenue W,Mississauga,Emerald Chinese Restaurant,L5R 3E7,128,2.5
2,"10110 Johnston Rd, Ste 15",Charlotte,Musashi Japanese Restaurant,28210,170,4.0
3,"15655 W Roosevelt St, Ste 237",Goodyear,Farmers Insurance - Paul Lorenz,85338,3,5.0
4,"4209 Stuart Andrew Blvd, Ste F",Charlotte,Queen City Plumbing,28217,4,4.0

## Connecting to local database

In [31]:
## Are we using SQL or MONGODB. IF SQL, we can use this

In [ ]:
rds_connection_string = "soren:strongpassword@localhost/customer_db"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

In [ ]:
engine.table_names()